extends ../layouts/common

block content
    h1 Login
    if error
        .alert.alert-danger=error
    form(action="/auth/login",method="POST")
        .form-group
            label(for="email") Email
            input#email.form-control(type="email", name="email", autofocus, value= values ? values.email : "")
        .form-group
            label(for="phone") Password
            input#password.form-control(type="password", name="password", value= values ? values.password : "")

        button.btn.btn-primary(style={width:"10rem"}) Login
    p Don't have an account? 
        button.btn.btn-link.d-inline#signUp(style={paddingBottom:"0.6rem"}) Sign Up

    // script.js
    
    script(type="text/javascript").
        let signUpBtn = document.getElementById('signUp');
        signUpBtn.addEventListener('click', () => {
            window.location.href="http://localhost:3000/auth/create";
        })
